
html, body{
  height: 100%;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

body{
  background: #030321;
  font-family: sans-serif;
}

.container {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
}

svg {
    display: block;
    font: 10.5em 'sanserif';
    letter-spacing: 10px;
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #18cee2;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #278089;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #68e3f0;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #85dfe5;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #bde1e9;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

.weather-card{
    max-width: 60%;
    min-width: 250px;
    margin: 100px auto;
    background: linear-gradient(to right, rgb(255, 154, 245), violet);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    color: #721c24;
}

.weather-info{
    text-align: center;
    margin-bottom: 10px;
}

.info-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #721c24;
}

.search-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.temperature{
    font-size: 2.5rem;
    font-weight: bold;
    color: #721c24;
}

.description{
    margin-top: 5px;
    color: #721c24;
}
.Error{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    color: red;
}
.input-group{
    display: flex;
    justify-content: center;
}
.additional-info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}